* {
    margin: 0;
    outline: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, .35)
}

html {
    height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    background-color: black;
    padding: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    font-weight: 300;
    font-family: 'Microsoft Yahei', Tahoma, Helvetica, Arial, sans-serif;
    font-size: 150%;
    /*font-weight: bold;*/
    color: rgba(58, 71, 89, 1);
    line-height: 1.3;
    -webkit-touch-callout: none;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-box-align: stretch;
    position: relative;
    overflow: hidden;
}

i {
    font-style: normal;
    color: #fff;
}

.app {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: left 0.3s;
    -moz-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    z-index: 2;
}

.text-heiblue {
    color: darksalmon;
    /*color:#36a8f8*/
}

.ld-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index: 999;
}

.needshow {
    display: none;
}

.page {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
}

.fit-ys {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.ft-logo {
    position:fixed;
    top:3%;
    left: -60%;
    right: 0;
    width: 200px;
    margin: 0 auto;
    z-index: 3;
}
.ft-logo img {
    width: 100%;
}


/*背景动画*/

@keyframes myfirst {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-800px);
    }
}

@keyframes rt2 {
    0% {
        opacity: 0.5;
        transform: rotate(0deg);
    }
    50% {
        opacity: 1;
        transform: rotate(180deg);
    }
    100% {
        opacity: 0.5;
        transform: rotate(360deg);
    }
}


/*悬浮菜单*/
.height-pt,
.back-pt {
    background: rgba(97, 194, 255, 1);
    /* border: rgba(5, 181, 254) 1px solid; */
    padding: 8px 10px;
    position: fixed;
    z-index: 9;
    border-radius: 5px;
    display: none;
    border-bottom: rgba(13, 90, 115, .6) 2px solid;
    /*background-image: linear-gradient(to top right, #05b5fe, #00396f);*/
}
.back-dd{
    background: rgba(97, 194, 255, 1);
    /* border: rgba(5, 181, 254) 1px solid; */
    padding: 8px 10px;
    position: fixed;
    z-index: 999;
    border-radius: 5px;

    border-bottom: rgba(13, 90, 115, .6) 2px solid;
    /*background-image: linear-gradient(to top right, #05b5fe, #00396f);*/
}
.back-pt {
    bottom: 105PX;
}

.height-pt>i,
.back-pt i,
.gz-tp i {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
    height: 30px;
    color: #94FEFE;
}

div.close i {
    color: white;
}


/*分类*/

.gz-tp {
    background: rgba(0, 0, 0, 0.5);
    border: white 1px solid;
    display: table;
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 9;
    border-radius: 50px;
    top: 30PX;
    right: 25PX;
}

.gz-tp ul {
    display: none;
    position: absolute;
    right: 0px;
    top: 60px;
    background: #000;
    width: 200px;
    padding: 10px;
}

.gz-tp ul li {
    display: block;
    background: rgba(13, 90, 115, 0.6);
    text-align: right;
    padding: 15px 15px;
    margin-bottom: 10px;
}


/*侧边栏-361*/

.left-panel {
    position: fixed;
    width: 360px;
    left: -362px;
    /*left: -362px;*/
    top: 0;
    height: 100%;
    border-right: rgba(0, 0, 0, 0.8) 2px solid;
    transition: left 0.5s;
    -moz-transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -o-transition: left 0.3s;
    z-index: 2;
}

.left_container {
    width: 360px;
    margin-top: 120px;
    height: calc(100% - 120px);
    overflow: hidden;
    overflow-y: auto;
}

.left_menu {
    display: block;
}

.left_menu>li {
    margin-bottom: 15px;
    min-height: 76px;
    font-size: 110%;
    font-weight: 700;
    text-align: center;
    line-height: 2.9;
    background: rgba(28, 159, 214, 0.2) url(../img/line.png) no-repeat center;
    background-size: 95% auto;
}

.left_menu>li>a {
    display: block;
    position: relative;
}

.left_menu>li>a>i {
    position: absolute;
    right: 30px;
    top: 25px;
}

.left_menu_sm {
    display: none;
    height: auto;
    background: none !important;
}

.left_menu_sm a {
    font-weight: 500;
    margin: 5px 15px;
    background: rgba(13, 90, 115, 0.4);
}

.cd_left {
    left: 0px;
}

.cd_right {
    left: 362px;
}


/*主题文字*/

.main_ft {
    position: absolute;
    left: 50%;
    top: 200px;
    width: 80%;
    transform: translate(-50%, 0);
    display: block;
}

.main_ft>a {
    margin-bottom: 15px;
    text-align: center;
    /*background-image: -webkit-linear-gradient(left, #f4de33 10%, #f2a131 20%, #e40c61 30%, #e33d6f 40%, #e5e694 50%, #f4de33 60%, #f2a131 70%, #e40c61 80%, #e33d6f 90%, #e5e694 100%);
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
	-webkit-background-size: 200% 100%;
	-webkit-animation: masked-animation 4s infinite linear;*/
    display: block;
}

.main_ft>a>small {
    font-size: 105%;
}

.clear {
    clear: both;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: -50% 0;
    }
    100% {
        background-position: -100% 0;
    }
}


/*page-scroll  页面滚动内容*/

.page-scroll {
    position: relative;
    display: block;
    top: 120px;
    padding: 0px 25px 40px 25px;
    height: calc(100% - 140px);
    width: 95%;
    width: -webkit-calc(100% - 50px); 
    width: calc(100% - 50px);
    font-size: 85%;
    overflow: hidden;
    overflow-y: auto;
}

.page-scroll .tct p {
    line-height: 1.6;
    color: rgb(58,71,89);
    text-indent: 2em;
}

.page-scroll .tct b {
    color: rgb(58,71,89);
}

.page-scroll .tct ol li {
    text-indent: 1em;
    line-height: 1.6;
}

.bt-title {
    /*rgba(13, 90, 115, 0.4)*/
    background: url(../img/ft_bg.png) rgba(32, 151, 255, 1) no-repeat;
    padding: 14px 0px;
    background-size: 100% 100%;
    margin-bottom: 25px;
    text-align: center;
}

.page-scroll h2 {
    text-align: center;
    display: inline;
    letter-spacing: 2px;
    /*background-image: -webkit-gradient(linear, 0 50%, 100% 50%, from(rgba(184, 95, 247, 1)), to(rgba(61, 122, 251, 1)));*/
    /*background: linear-gradient(to right,#fb50af, #5087fe);*/
    /*background: linear-gradient(to top right,#fb50af, #5087fe);*/
    background: #fff;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 400;
}


/*目录页面列表样式*/

.satnav-list {
    /*background: rgba(0,0,0,0.5);*/
}

.satnav-list li {
    position: relative;
    display: block;
    margin: 15px 0;
    padding: 19px 0px;
    background: rgba(13, 90, 115, 0.45);
}

.satnav-list li a {
    font-size: 130%;
    
    /*font-weight: bold;*/
    display: block;
    /* border-left: #d1d1d1 5px solid; */
    padding-left: 79px;
}

.satnav-list .left_menu_sm {
    display: none;
    padding-top: 0px;
}

.satnav-list>li>a>i {
    position: absolute;
    right: 15px;
    top: 25px;
}

.satnav-list .left_menu_sm a {
    display: inline-block;
    font-size: 105%;
    width: 40%;
    

    margin-bottom: 8px;
    font-weight: 500;
    border: #ccc 2px solid;
    text-align: center;
    padding: 15px 5px;
    /*background: rgba(13, 90, 115, 0.3);*/
    background: rgba(9, 12, 47, 0.3);
}

/*.satnav-list li:nth-child(1) {
    background: url(./huaiying.png) no-repeat;
    background-size: 100% 100%;
}*/

.satnav-list li:nth-child(1) {
    background: url(./richeng.png) no-repeat;
    background-size: 100% 100%;
}

/*.satnav-list li:nth-child(3) {
    background: url(./touzi.png) no-repeat;
    background-size: 100% 100%;
} */

.satnav-list li:nth-child(2) {
    background: url(./wuliudahui.png) no-repeat;
    background-size: 100% 100%;
}

.satnav-list li:nth-child(3) {
    background: url(./yewu.png) no-repeat;
    background-size: 100% 100%;
}

/* .satnav-list li:nth-child(7) {
    background: url(./zhiyin.png) no-repeat;
    background-size: 100% 100%;
} */

.satnav-list li:nth-child(5) {
    background: url(./canyin.png) no-repeat;
    background-size: 100% 100%;
}

.satnav-list li:nth-child(7) {
    background: url(./huiwu.png) no-repeat;
    background-size: 100% 100%;
}

/*.satnav-list li:nth-child(9) {
    background: url(./zhichi.png) no-repeat;
    background-size: 100% 100%;
}

.satnav-list li:nth-child(10) {
    background: url(./zhichi.png) no-repeat;
    background-size: 100% 100%;
}

.satnav-list li:nth-child(12) {
    background: url(./guanli.png) no-repeat;
    background-size: 100% 100%;
}*/


/*表格样式*/

.ct-table {
    font-weight: 400;
    margin-top: 25px;
    width: 100%;
    color: #e9e9e9;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(102, 202, 238, 0.3);
    border-collapse: collapse;
    background: rgba(12, 12, 48, 0.7);
    border: 2px solid rgba(160, 162, 162, 1);
}

.ct-table table {
    font-size: smaller;
    font-weight: 0;
    margin: 0;
    padding: 0;
    width: calc(100% + 4px);
    color: #e9e9e9;
    border-collapse: collapse;
    background: rgba(0, 0, 0, 0.2);
    /*rbga(172,174,175,0.4) rgba(102, 202, 238, 0.4)*/
    border: 2px solid rgba(102, 202, 238, 0.3);
    border-collapse: collapse;
    margin-bottom: -2px;
    margin-left: -2px;
}

.ct-table table td,
.ct-table table th {
    /*border: 2px solid rgba(255, 255, 255, 0.1);*/
    border-collapse: inherit;
    padding: 4px 2px;
}

.ct-table table td:first-child {
    width: 120px;
    text-align: center;
}

.ct-table td,
.ct-table th {
    text-align: center;
    border: 2px solid rgba(102, 202, 238, 0.3);
    border-collapse: inherit;
    /*padding: 8px 5px;*/
    padding: 10px 5px;
    box-sizing: border-box;
}

.ct-table td {
    /*border: 2px solid rgba(52, 53, 85, 0.7);*/
    border: 2px solid rgba(154, 158, 170, 0.15);
}

.ct-table .node-td {
    text-align: left;
    border: 2px solid rgba(102, 202, 238, 0.3);
    border-collapse: inherit;
    padding: 0px !important;
    margin: 0px !important;
}

.ct-table .node-td center {
    padding: 10px 8px;
    font-weight: 500;
}

.ct-table td b {
    display: block;
    /*font-size: 1.15em;*/
    font-weight: 700;
    padding: 8px 12px;
}

.ct-table thead td {
    /*background:  rgba(4, 185, 238, 0.3);*/
    /*background: rgba(50, 129, 157, 0.4);*/
    background: rgba(5, 181, 254, 0.3);
}

.ct-table td a[href] {
    color: #e9e9e9;
}

.lt-tab tbody tr td:nth-child(2) {
    text-align: left;
    padding-left: 0.5em;
}

.ct-table small {
    color: #bbbcc2;
}

tr.blue-bg {
    background: rgba(50, 129, 157, 0.4);
}

tr.blue-bg td:last-child {
    text-align: center !important;
}

.ct-table .to_left {
    padding-left: 0.5em;
    text-align: left;
}

.toggle-show tbody {
    display: none;
}

.toggle-show thead tr td {
    position: relative;
}

.toggle-show thead tr td:first-child i {
    position: absolute;
    right: 15px;
    top: 20px;
}

.tb-show a {
    display: block;
}

.ct-table td .fa {
    margin-right: 0.2em;
    /*position: absolute;
    top: 1rem;
    right: 2.5rem;*/
}

.toggle-show thead,
.toggle-show tbody {
    display: none;
}

.toggle-show thead:first-child {
    display: table-header-group;
}

.tb-show-open thead,
.tb-show-open tbody {
    display: none;
}


/*.ct-table .tab-adress:before {
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f041\00A0";
}*/

.ct-table .tab-adress {
    background: url(../img/adress.png) no-repeat left center;
    background-size: 20px auto;
    padding-left: 27px!important;
    /*font-size: 89%;*/
}


/*tab切换*/

.tab {
    display: block;
    /*border-bottom: #9ba8b1 2px solid;*/
    height: 60px;
    display: flex;
    justify-content: space-around;
}

.tab a {
    font-weight: 700;
    display: block;
    float: left;
    padding: 0px 0;
    height: 50px;
    line-height: 2.5em;
    flex: 1;
    text-align: center;
}

.tab a.current {
    border: none;
    /* background: rgba(13, 90, 115, 0.6); */
    border-bottom: rgba(13, 90, 115, 0.6) 2px solid;
    background-image: linear-gradient(to right, #05b5fe, #00396f);
    border-radius: 50px;
}

.tab_panel .node {
    display: none;
}


/*字体颜色*/

.text-heiblue i {
    color: #e9e9e9;
    background: url(../img/dateicon.png) no-repeat left center;
    background-size: 25px auto;
    display: block;
    width: 200px;
    margin: 0 auto;
    padding-left: 25px;
}

.ct-table .text-heiblue b {
    font-weight: 500;
    color: #e9e9e9;
}

.text-blue {
    color: #87bbd1;
}

.text-muted {
    color: #777777;
}

.text-primary {
    color: #337ab7;
}

.text-success {
    color: #3c763d;
}

.text-info {
    color: #31708f;
}

.text-warning {
    color: #8a6d3b;
}

.text-danger {
    color: #a94442;
}

.line_17 {
    line-height: 1.7;
}

.ld-bg {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #01072c;
    z-index: 999;
}


/*加载动画*/

.spinner {
    position: absolute;
    top: 50%;
    left: calc(50% - 75px);
    width: 150px;
    text-align: center;
}

.spinner>div {
    width: 30px;
    height: 30px;
    background-color: #FFFFFF;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0.0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes bouncedelay {
    0%,
    80%,
    100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    }
    40% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}


/*认证*/

.approveBox {
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.alertBox {
    background: rgba(0, 0, 0, 0.8);
    z-index: 10;
    display: none;
}

.approveContent {
    width: 500px;
    height: 600px;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 10px;
}

.approveContent h2 {
    font-weight: 500;
    margin-top: 5%;
    margin-bottom: 15%;
}

.approveContent h2 img {
    margin: 0 auto;
    display: block;
}

.approveContent input {
    width: 417px;
    display: block;
    height: 88px;
    margin: 10% auto;
    text-indent: 20px;
    border-radius: 6px;
    background: url(../img/nameBg.png) no-repeat;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 24px;
}

.approveContent input::-webkit-input-placeholder {
    color: #fff;
    font-size: 22px;
    text-align: center
}

.approveContent button {
    width: 140px;
    margin: 0 auto;
    font-size: 32px;
    display: block;
    line-height: 60px;
    background: none;
    margin-top: 14%;
    border: none;
    color: #00deff;
    border-bottom: 1px solid #00deff;
}

.alertContent {
    color: #fff;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: inline-table;
    border-radius: 15px;
    /*background:rgba(95,185,248,0.8) url(../img/bd.png) no-repeat;*/
    background: url(../img/kuang.png) no-repeat;
    background-size: 100% 100%;
}

.alertContent h2 {
    font-weight: 500;
    font-size: 15px;
    line-height: 50px;
    text-align: center;
    line-height: 30px;
    margin-top: 26px;
}

.alertCenter {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    width: 80%;
    margin-left: 5%;
}

.sure {
    text-align: center;
    width: 100%;
    line-height: 60px;
}

.tl td {
    text-align: left;
    padding-left: 0.5em;
}

.hua {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 100%;
    /*animation: cai infinite 10s linear;
	-webkit-animation: cai infinite 10s linear;*/
}


/*.ct-table thead tr:nth-child(1){
	   background: -webkit-linear-gradient(256deg,#ea3df5,#3627f4);
}*/


/*增加*/

.jin {
    width: 20px;
}

.erweima {
    width: 300px;
    border: 10px solid #fff;
    margin: 130px auto 50px;
    display: block;
}

.sao {
    font-size: 26px;
    text-align: center;
    line-height: 41px;
}


/*.both{
	background: url(../img/both.png) no-repeat left center;
	background-size: 20px auto;
}*/

.minfont .tab-adress {
    font-size: 89%;
}

.ct-table .td-tl {
    text-align: left;
    padding: 0 0.5rm;
}

.tomulu {}

.zuohua {
    width: 100px;
    position: absolute;
    right: 260px;
    bottom: 10%;
    width: 100px;
    display: none;
    /* Safari 和 Chrome */
}

.anibtn {
    -webkit-transform: translateX(10%) rotate(2deg);
    -ms-transform: translateX(10%) rotate(2deg);
    transform: translateX(10%) rotate(2deg);
    animation: moveani 1.5s infinite;
    -webkit-animation: moveani 1.5s infinite;
    text-align: center;
    display: block;
}

.zuohua img {
    width: 100%;
}

@-webkit-keyframes moveani {
    from {
        right: 260px;
        -webkit-transform: translateX(10%) rotate(2deg);
        -ms-transform: translateX(10%) rotate(2deg);
        transform: translateX(10%) rotate(2deg)
    }
    to {
        right: 270px;
        -webkit-transform: translateX(-25%) rotate(-5deg);
        -ms-transform: translateX(-25%) rotate(-5deg);
        transform: translateX(-25%) rotate(-5deg)
    }
}

@keyframes moveani {
    from {
        right: 260px;
        -webkit-transform: translateX(10%) rotate(2deg);
        -ms-transform: translateX(10%) rotate(2deg);
        transform: translateX(10%) rotate(2deg)
    }
    to {
        right: 270px;
        -webkit-transform: translateX(-25%) rotate(-5deg);
        -ms-transform: translateX(-25%) rotate(-5deg);
        transform: translateX(-25%) rotate(-5deg)
    }
}

.dv {
    margin: 0 auto;
    margin-top: 100px;
    font-size: 80px;
    text-align: center;
    /*background: #fff;*/
    color: transparent;
    -webkit-background-clip: text;
    background-size: 200% 100%;
    animation: masked-animation 3s infinite linear;
    -webkit-animation: masked-animation 3s infinite linear;
}

@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -150% 0;
    }
}

@keyframes masked-animation {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -150% 0;
    }
}

.anipulse {
    position: absolute;
    left: 47%;
    top: 42%;
    z-index: 999;
    display: block;
    width: 339px;
    height: 70px;
    transform: translate(-50%, 0);
    font-weight: 900;
    text-align: center;
}
.anipulse a{
    display: block;
    animation: pulse 2s infinite linear;
    -webkit-animation: pulse 2s infinite linear;
}
.tct {
    text-align: justify;
}
.tct p {
    line-height: 1.8px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}